---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import Servicios1 from '~/components/servicios1.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Pide presupuesto',
        href: 'https://www.informaticka.es/presupuesto',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Donde estamos', href: '#contacto' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Servicio técnico de
      <span class="text-blue-600 dark:text-white highlight"> Informática </span>
      en Murcia
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline text-800">
        Especialistas en Páginas web, Reparaciones y Gestión de datos.</span
      >
    </Fragment>
  </Hero>

  <!--<Note />-->

  <Content
    
    tagline="Diseño web"
    title="Tu página web para mostrar lo mejor de tu negocio"
    items={[
      {
        title: 'Creación y renovación web',
        description:
          'Desarrollamos y renovamos sitios web modernos y optimizados, utilizando las últimas tecnologías para asegurar un diseño atractivo y un rendimiento excepcional.',
      },
      {
        title: 'Mantenimiento y gestión',
        description:
          'Ofrecemos mantenimiento continuo y gestión técnica para que tu sitio funcione siempre de manera óptima, con actualizaciones regulares y atención personalizada.',
      },
      {
        title: 'Posicionamiento SEO',
        description:
          'Mejoramos tu visibilidad en motores de búsqueda mediante estrategias SEO avanzadas, aumentando tu tráfico orgánico y potenciando tu presencia digital frente a la competencia.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Tecnología web de última generación</h3>
      Asegura que tu proyecto web sobresalga al integrar las mejores prácticas de la industria, optimizando cada aspecto para ofrecer un rendimiento superior y una experiencia de usuario impecable.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Features
    id="features"
    tagline="Electrónica"
    title="Reparamos diferentes dispositivos"
    subtitle="Nuestros técnicos buscarán la mejor opción de reparación."
  />
  <Servicios1 />

  <Content
  tagline="Datos"
  title="Optimiza tus procesos con datos"
    items={[
      {
        title: 'Sistemas Operativos',
        description: `Actualizamos e instalamos sistemas operativos para garantizar que tu equipo funcione con la última tecnología y seguridad. Optimiza el rendimiento de tus aplicaciones y asegura una experiencia de usuario fluida.`,
      },
      {
        title: 'Rendimiento del Equipo',
        description:
          'Mejoramos el rendimiento de tu equipo mediante ajustes técnicos y optimización de recursos, para que todo funcione de manera eficiente y rápida.',
      },
      {
        title: 'Recuperación de Datos',
        description:
          "Ofrecemos servicios de recuperación de datos para recuperar archivos perdidos o dañados, minimizando el impacto de fallos inesperados o errores humanos en tu información valiosa.",
      },
      {
        title: 'Copias de Seguridad',
        description:
          'Implementamos soluciones de copias de seguridad para proteger tus datos contra pérdidas imprevistas. Asegura que toda tu información importante esté respaldada y fácilmente recuperable en caso de necesidad.',
      },
      {
        title: 'Gestión Empresarial ERP',
        description:
          'Optimizamos tus operaciones y automatización de tareas de contabilidad, administración, clientes...',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Steps
    title="Solicita presupuesto sin compromiso."
    items={[
      {
        title: '<span class="font-medium">Te llamamos</span>',
        description:
          "Háblanos sobre tu proyecto y te asesoramos sobre tus mejores opciones.",
        icon: 'tabler:package',
      },
      {
        title: '<span class="font-medium">Definimos los objetivos</span>',
        description:
          "Conociendo mejor tu proyecto, elegimos lo que mejor se adapte a tu idea y presupuesto.",
        icon: 'tabler:letter-case',
      },
      {
        title: '<span class="font-medium">Plan de ejecución</span>',
        description:
          'Una vez confirmado el presupuesto, te informamos de todo el proceso',
        icon: 'tabler:paint',
      },
      {
        title: 'Eso es todo!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />
</Layout>
