---
// @ts-ignore
import { Icon } from "astro-icon/components";
import Impresora from "../assets/icons/Impresora.astro";
import Patinete from "../assets/icons/Patinete.astro";
import Roomba from "../assets/icons/Roomba.astro";
import Consola from "../assets/icons/Consola.astro";
import Movily from "../assets/icons/Movily.astro";
import { GiLaptop } from "react-icons/gi";
import Apple from "@assets/icons/Apple.astro";
---


  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">

    <Icon class="size-8 md:size-12" name="simple-icons:pcgamingwiki" />
    <GiLaptop size={40}/>
    <Movily class="size-10 md:size-12"/>
    <Apple class="size-10 md:size-12"/>
    <Impresora class="size-10 md:size-12"/>
    <Patinete class="size-10 md:size-12"/>
    <Consola class="size-10 md:size-12"/>
    <Roomba class="size-10 md:size-12"/>

  </div>

