---
import { SITE } from 'astrowind:config';
---


<span
  class="self-center ml-2 mr-1 rtl:ml-0 rtl:mr-2 text-2xl md:text-4xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
   Informati
</span>
<img src="/_astro/volver_azul.DOUJG5a0.png" alt="logo" loading="lazy" style="width:1.8rem; display:inline-block;"/>